<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <input class="form-control" name="authenticity_token" type="hidden" 
    value="<%= form_authenticity_token %>">

  <label for="username">Username</label>
  <input class="form-control" id="username" name="user[username]" type="text">

  <label for="password">Password</label>
  <input class="form-control" id="user_password" 
  name="user[password]" type="password">

  <input type="submit" value="Log in">
</form>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" 
    value="<%= form_authenticity_token %>" id="authenticity_token">
    
  <input type="hidden" name="user[username]" value="Guest">
  <input type="hidden" name="user[password]" value="password">

  <button type="submit" class="btn btn-success">Sign in as Guest</button>
</form>