<div class="col-xs-8 col-xs-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-7">
        <div class="jumbotron" id="jumbotron-item-show">
          <h4>Like this item?</h4>
          Add it to your favorites to revisit it later.
        </div>
      <%= image_tag @item.image.url(:show) %>
    </div>
  </div>
</div>