<div class="col-xs-8 col-xs-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-7">
        <div class="jumbotron" id="jumbotron-item-show">
          <h4>Like this item?</h4>
          Add it to your favorites to revisit it later.
        </div>
        
        <%= image_tag @item.image.url(:show) %>
        
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#details" data-toggle="tab">Item Details</a>
          </li>
          <li>
            <a href="#details" data-toggle="tab">Reviews</a>
          </li>
          <li>
            <a href="#details" data-toggle="tab">Shipping Details</a>
          </li>
        </ul>
    </div>
  </div>
</div>