html, body{
  height: 100%;
  width: 100%;
}

body {
  background-color: #f0f0f0;
}

.jumbotron {

}

.jumbotron h1 {

}

#jumbotron-cat-show {
  background-color: white;
  margin: 0 0 40px -8px;
  padding: 0;
}

#jumbotron-cat-show {
  font-size: 48px;  
}

#nav-outer-container {
  background-color: #f5f5f1;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 40px;
}

#nav-row {
  width: 1015px;
}

.nav-li {
  margin-top: 30px;
  float: left;
  color: #0192b5;

  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 #eeeeec;
  border-radius: 3px;
  background-color: #d7d7d1;
/*  border-right: 1px solid #fff;
  mar*/
  margin-right: 1px;
  opacity: 0.85;
 /* background: -webkit-gradient(linear,left bottom,left top,color-stop(0.25,#b7b8b0),color-stop(0.76,#ddddd8),color-stop(0.98,#f7f7f6),color-stop(1,#e7e7e4));
 *//* background: -webkit-linear-gradient(center bottom,#b7b8b0 25%,#ddddd8 76%,#f7f7f6 98%,#e7e7e4 100%);*/
}

#nav-row li:hover {
  opacity: 1;
  cursor: pointer;
}

.nav-li {
  padding: 20px;
  border: 1px solid #d9d9d9;
}

#below-nav {
  border-top: 1px solid #e7e7e4;
}

#nav-search {
  margin: 0;
}

.navbar-form {
}

#nav-search-li {
  padding: 5px;
  height: 59px;
  margin-right: 5px;
 
}

#nav-search-li input {
  height: 28px;
  font-size: 12px;
  font-weight: 300;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  border: 1px solid #b3b3b3;
  width: 460px;
  border-bottom: 1px solid #a3a3a3;
}

#cycletree-li {
  background-color: #78c042;
  color: #fff;
  font-size: 22px;
  font-weight: 100;
  font-family: "Times New Roman";
  height: 59px;
  line-height: 15px;
}

#nav-row-2 h1 {
  font-family: "Georgia";
  font-weight: bold;
  font-size: 28px;
  color: #555;
}

#nav-row-2 {
  margin-top: 10px;
}

.nav-cat-ul {
  float: left;
  margin: 35px 0 0 0;
}

.nav-cat-ul li {
  border-radius: 3px;
  width: 140px;
  padding: 4px;
  line-height: 12px;
  margin-right: 0;
  font-size: 12px;
  font-weight: bold;
}

.nav-cat-ul a {
  color: #0192b5;
  -webkit-transition: all .07s ease;

}

.nav-cat-ul a:hover li{
  background-color: #cce9f0;
  text-decoration: none;
}

#nav-li-cart {
  color: #666;
}

#nav-search-btn {
  height: 26px;
  vertical-align: middle;
  font-size: 12px;
  color: #505050;
  background: #f0f0f0;
  border: 1px solid #b3b3b3;
  border-bottom: 1px solid #939393;
  line-height: 14px;
  box-shadow: 0 1px 0 #c0c0ba;
  text-shadow: 0 1px 0 #eeeeec;
  
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.1,#d5d5d5),color-stop(0.93,#f0f0f0),color-stop(0.99,#fff))
}



