html, body{
  height: 100%;
  width: 100%;
}

body {
  background-color: #f0f0f0;
}

#jumbotron-cat-show {
  background-color: white;
  margin: 0 0 40px -8px;
  padding: 0;
}

#jumbotron-cat-show {
  font-size: 48px;  
}

#nav-outer-container {
  background-color: #f5f5f1;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 40px;
}

#nav-row {
  width: 1015px;
}

.nav-li {
  padding: 20px;
  border: 1px solid #d9d9d9;
  margin-top: 0;
  float: left;
  color: #0192b5;

  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px 0 #eeeeec;
  border-radius: 3px;
  background-color: #d7d7d1;
/*  border-right: 1px solid #fff;
  mar*/
  margin-right: 1px;
  opacity: 0.9;
 /* background: -webkit-gradient(linear,left bottom,left top,color-stop(0.25,#b7b8b0),color-stop(0.76,#ddddd8),color-stop(0.98,#f7f7f6),color-stop(1,#e7e7e4));
 *//* background: -webkit-linear-gradient(center bottom,#b7b8b0 25%,#ddddd8 76%,#f7f7f6 98%,#e7e7e4 100%);*/
}

#nav-row a:hover li{
  opacity: 1;
}

#below-nav {
  border-top: 1px solid #e7e7e4;
  padding-top: 30px;
}

#nav-search-li {
  padding: 5px;
  height: 59px;
  margin-right: 90px;
  float: none;
  overflow: hidden;
  position: relative;
}

#nav-search-li input {
  height: 28px;
  font-size: 12px;
  font-weight: 300;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  border: 1px solid #b3b3b3;
  border-bottom: 1px solid #a3a3a3;
  width: 450px;
}

#cycletree-li {
  background-color: #78c042;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  font-family: "Georgia";
  height: 58px;
  border: none;
  line-height: 15px;
  text-shadow: 0 -1px 0 #aaa;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  -webkit-font-smoothing: antialiased;
}

#nav-row-2 h1 {
  font-family: "Georgia";
  font-weight: bold;
  font-size: 28px;
  color: #333;
}

#nav-row-2 {
  margin-top: 10px;
}

.nav-cat-ul {
  float: left;
  margin: 35px 0 0 0;
}

.nav-cat-ul li {
  border-radius: 3px;
  width: 140px;
  padding: 4px;
  line-height: 12px;
  margin-right: 0;
  font-size: 12px;
  font-weight: bold;
}

.nav-cat-ul a {
  color: #0192b5;
  -webkit-transition: all .07s ease;

}

.nav-cat-ul a:hover li{
  background-color: #cce9f0;
  text-decoration: none;
}

#nav-li-cart {
  color: #666;
  float: right;
}

#nav-search-btn {
  height: 26px;
  vertical-align: middle;
  font-size: 12px;
  color: #505050;
  background: #f0f0f0;
  border: 1px solid #b3b3b3;
  border-bottom: 1px solid #939393;
  line-height: 14px;
  box-shadow: 0 1px 0 #c0c0ba;
  text-shadow: 0 1px 0 #eeeeec;
  
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.1,#d5d5d5),color-stop(0.93,#f0f0f0),color-stop(0.99,#fff))
}

#login-button {
  margin-right: 10px;
}

#above-nav {
  margin-bottom: 8px;
}

#above-nav-content {
  float: right;
  font-size: 12px;
  margin-right: -13px;
  margin-top: 10px;
}

#above-nav-content a {
  color: #0192b5;
}

.tweet {
  float: left;
  margin-right: 5px;
  height: 20px;
}

.fb-like {
  height: 20px;
}

#social-btns {
  margin-top: 25px;
}

#footer-row {
/* border-top: 1px solid #ddd;*/
 margin-top: 20px;
 margin-bottom: 30px;
 padding-top: 10px;
 font-size: 11px;
 color: #666;
 width: 1055px;
 margin-left: 15px;
 padding-left: 0;
}

#footer-col {
  padding: 0;
}

a {
  color: #0192b5;
}

#cart-badge {
  background-color: #78c042;
  position: absolute;
  float: right;
  font-weight: 400;
  font-size: 10px;
  margin-top: -33px;
  margin-left: 38px;
}

#nav-li-cart:hover {
  opacity: 1;
  cursor: pointer;
}

.cart-remove-btn {
  margin-top: 10px;
}

#cart-modal-footer {
  border-top: none;
  padding-top: 0;
}