html, body{
  height: 100%;
  width: 100%;
}

body {
  background-color: #f0f0f0;
}

.jumbotron {

}

.jumbotron h1 {

}

#jumbotron-cat-show {
  background-color: white;
  margin: 0 0 40px -8px;
  padding: 0;
}

#jumbotron-cat-show {
  font-size: 48px;  
}