// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_item input {
  width: 100%;
}

#form-item-title {
  width: 55%;
}

#form-item-price {
  width: 15%;
}

#form-item-email {
  max-width: 28%;
}

#form-item-description {
  width: 99%;
}

#form-item-description textarea {
  width: 100%;
}

.photo-square {
  width: 100%;
  margin: 0 auto 15px auto;
  border-radius: 3px;
  border: 2px solid #eee;
}

.photo-square:before {
  content: "";
  display: block;
  padding-top: 100%;
}
