// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-picture {
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 2px;
}

#col-profile-left {
  padding-left: 39px;
}

.panel-profile-left {
  margin-top: 25px;
  font-weight: bold;
}

.profile-item-listing {
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 2px;
  margin-top: 15px;
}

#listings-num {
  color: #aaa;
  font-weight: 200;
  font-size: 18px;
}

#item-show-owner-pic {
  float: left;
}

#item-show-owner-pic img {
  border-radius: 2px;
  border: 1px solid #888;
}

.edit-profile-form {
  width: 100%;
  clear: both;
}

#profile-photo-preview {
  margin-top: 68px;
}

.photo-square {
  height: 300px;
  overflow: hidden;
}

.item-show-review-body {
  font-size: 14px;
  color: #666;
  font-weight: 400;
}

.item-show-review-pane {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  background: #fff;
  padding: 20px 20px 30px 20px;
}


.item-show-review-pic {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  color: #999;
}

#item-show-all-reviews {
  margin: 30px 0;
}