<div class="col-xs-8 col-xs-offset-2">
  <% categories.each(function(category){ %>
    <div class='poster poster-show'>
      <a href="/items/<%= category.get('id') %>">
        <img src='<%= category.get('thumb_url') %>' />
      </a>
      <a href="/items/<%= category.get('id') %>">
        <%= category.get('title') %><br>
      </a>
    </div>
  <% }) %>
</div>